{% extends 'standerd.html' %}
{% comment %} <!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8" />
    <title>勤怠ログ</title>
</head>
  {% endcomment %}



{% comment %} <body> {% endcomment %}
{% block article %}
<span class="log">
    <div class="user_prof">
        <img src="{{avatar_url}}">
        <h1>{{real_name}}</h1>
    </div>

    <br>
    <h2>{{year}}年 {{term}}月</h2>
    {% if update_message == "update" %}
    <p> ログが更新されました </p>
    {% endif %}
    {% comment %} {{ cookie }} {% endcomment %}
    <form action="{{ editlink }}" method="post">{% csrf_token %}
        <table border="1" class="log">
            <tr>
                <th class="check">　</th>
                <th>id</th>
                <th>login</th>
                <th>logout</th>
                <th>合計</th>
            </tr> 
                {% for record in data %}
                <tr>
                    <td class="check">
                    <input type="checkbox" name="select{{record.id}}" value=1>
                    </td>
                    <td class="id">{{ record.id }}</td>
                    <td class="logtime">{{ record.login_time|date:"Y-m-j H:i:s" }}</td>
                    <td class="logtime">{{ record.logout_time|date:"Y-m-j H:i:s" }}</td>
                    <td class="sum">{{ record.net_time }}</td>
                </tr>
                {% endfor %}
        </table>
        <br>
        <input type="hidden" name="real_name" value="{{real_name}}">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="team_id" value="{{team_id}}">
        <input type="hidden" name="term" value="{{term}}">
        <input type="hidden" name="year" value="{{year}}">
        <input type="hidden" name="type" value="edit">

        <span class="buttonbox">
        <input type="submit" value="編集" class="posbtn">
        </span>
        {% comment %} <h2><a href="{{ editlink }}">編集</a></h2> {% endcomment %}
     </form>
     <p>稼働時間計：{{ sum_minutes}}       </p>
     <p>時給換算：{{ sum_pay }}</p>
     <a href="{{ prev_link}}">前の月</a>
     <a href="{{ next_link }}">次の月</a>
    <span>
{% endblock %}
{% comment %} </body>
 
</html> {% endcomment %}