html * { padding:0; margin:0; }
body * { padding:10px 20px; }
body * * { padding:0; }
body {
    display: block;
    overflow-x: hidden;
    padding:0; margin:0;
     /* font:small sans-serif;  */
     font-family: 'Hiragino Kaku Gothic ProN',Meiryo,Helvetica,Arial,sans-serif;
    }
body>div { border-bottom:1px solid #ddd; }
h1 { font-weight:normal; }
h2 { margin-bottom:.8em; }
h2 span { font-size:80%; color:#666; font-weight:normal; }
h3 { margin:1em 0 .5em 0; }
h4 { margin:0 0 .5em 0; font-weight: normal; }
/* table { border:1px solid #ccc; border-collapse: collapse; width:100%; background:white; } */

:root{
    --theme-color: #0082e8;
    --theme-color-sub1: #777777;
    --theme-color-sub2: #99dddd;
    --card: #ffffff;
}
.contents{
    display:inherit;
    margin-left:7.5%;
    margin-right:7.5%;
    margin-top:0%;
    margin-bottom: 0%;
    /* display: flex; */
    /* align-self: center; */
}
#torso{
    margin:0;
    padding:0;
    min-height: calc(100vh - 100px);
    background-color: var(--theme-color-sub2);
    overflow: hidden;
}
#article{
    border-radius: 10px;
    padding:20px;
    margin-top:30px;
    background-color: var(--card);
}

header{
    display:block;
    padding:0%;
    /* font:Tahoma; */
    height: 60px;
    color:#fff;
    background-color: var(--theme-color);
    margin-bottom: 0;
    /* display: block; */
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}
#header-in{
    display: flex;
    margin-right: auto;
    line-height: 100%;
    text-decoration: none;
    font-size:30px;
}
.menubox{
    width:250px;
    font-size:20px;
    text-align: center;
    line-height: 330%;
}
.menubox a, .menubox a:hover{
    text-decoration: none;
    color: white;
}

.user_prof{
    display: flex;
    align-items: center;
}
.user_prof img, h1{
    border-radius: 5px;
    margin:10px
}
#sign-up{
    border: solid 1px white;
}
#sign-in{
    border: none;
}
#sign-in, #sign-up{
    margin:1%;
    position: relative;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    color:white;
    font-size: 20px;
    width: 100px;
    height: 40px;;
    text-decoration: none;
    /* font-weight:bold; */
}

#site-title {
    text-align: left;
    font-size: 30px;
    margin-right: auto;
    line-height: 100%;
}
#site-title a{
    text-decoration: none;
    line-height: 150%;
    font-size: 40px;
    font-weight: 700;
    color:#fff;
}

span.log{
    display:block;
    width:100%;
}
table.log{
    /* border-radius: 5px; */
    /* border:0px solid var(--theme-color-sub2);  */
    border:none;
    border-collapse: collapse; 
    /* border-color: #666; */
    /* background:white; */
}
table.log th{
    /* border-radius: 5px; */
    text-align: center;
}
table.log td{
    text-align: center;
    vertical-align: middle;
    
}

table.log th{
    background-color: var(--theme-color);
    color: #eee;
}
table.log td.id{
    /* text-align: center; */
    width:2%;
}
table.log td.logtime{
    width:20%;
}
table.log td.sum{
    width:5%;
}
table.log td.check, table.log th.check{
    width:2%;
    background-color: var(--card);
    border:none
}
table.log tr:nth-child(odd){
    background-color: #eee;
}

span.buttonbox{
    align-self: left;
    display: flex;
    width:100%;
    justify-content: flex-end;
    margin:auto;
}

button.positive, input.posbtn {
    position: relative;
    /* display: inline-block; */
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: var(--theme-color);/*色*/
    border: solid 1px var(--theme-color);/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin:1%;
  }
  
button.positive, input.posbtn:active {
    /*押したとき*/
    border: solid 1px #ff5555;
    box-shadow: none;
    text-shadow: none;
  }
button.negative, input.negbtn {
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #bbb;/*色*/
    border: solid 1px #aaa;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin:1%;
  }
  
button.negative, input.negbtn:active {
    /*押したとき*/
    border: solid 1px #999;
    box-shadow: none;
    text-shadow: none;
  }


tbody td, tbody th { vertical-align:top; padding:2px 3px; }
thead th { padding:1px 6px 1px 3px; background:#fefefe; text-align:left; 
    font-weight:normal; font-size:11px; border:1px solid #ddd; }
tbody th { width:12em; text-align:right; color:#666; padding-right:.5em; }

footer{
    height: 100px;
    width: 100%;
    color:#fff;
    background-color: var(--theme-color-sub1);
    margin-bottom: 0;
    bottom: 0;
}


/* ul { margin-left: 2em; margin-top: 1em; }
pre { background: white; padding: 10px; margin: 15px; border-left: 3px solid #006600; }
#summary { background: #EFFFE0; }
#summary h2 { font-weight: normal; color: #666; }
#footer { background:#eee; overflow: auto; }
#instructions { background:#f6f6f6; }
#summary table { border:none; background:transparent; } */